{% extends "layout.html" %}
{% block content %} 
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Student Stress Level Prediction and Analysis</h1>
        
    </div>
    <div class="container " style="height: 150px;">
            <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6" >
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h3>Quote of the Day</h3>
                <p>“A good way to overcome stress is to help others out of theirs.”</p>
                <p><i>―Dada J. P. Vaswani</i></p>
                <!-- <div class="line"></div> -->

            </div>
            </div>

    </div>
    <div class="container " style="height: 300px;">
        <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6" >
        <div class="p-5 text-center">
            <a href="{{ url_for('predict') }}">
                <button type="button" class="btn btn-secondary btn-circle btn-xl" >Predict Your Stress<br>
                <span class="blink">Click Here!</span>
                </button>
            </a>
        </div>
        </div>   
    </div>
    
{% endblock content %}