{% extends "layout.html" %}
{% block content %}
<!-- <div class="container back_img" > -->
    
    
    
    <div class="p-3 text-center bg-light" >
        <h1 class="mb-3" style="font-weight: bold;">Student's Stress Level Prediction and Analysis</h1>
    </div>
    
     <!-- <div class="container home_image">
        <img src="{{url_for('static',filename='images/stress.png')}}"  alt="Episodic-acute Stress" width="100%" style="opacity: 0.6;"/>
        <div class="top-left" >
            Student's Stress Level Prediction and Analysis
            
        </div>
    </div> -->

    
    <div class="container " style="height: 150px;">
            <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6" >
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; ">
                    <h3 style="font-weight: 600;" >Quote of the Day</h3>
                    <p style="font-weight: 600;">“A good way to overcome stress is to help others out of theirs.”</p>
                    <p style="font-weight: 600;"><i>― Dada J. P. Vaswani</i></p>
                   

            </div>
            </div>
    </div>


    <!-- <div class="container top-left">
        <img src="{{url_for('static',filename='images/stress.png')}}"  alt="Episodic-acute Stress" width="100%"/>
        
    </div>
</div> -->
    <div class="container home_image">
        <img src="{{url_for('static',filename='images/stress.png')}}"  alt="Episodic-acute Stress" width="100%"/>

        <div class="container top-left" style="height: 100px;">
        <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6" >
        <div class="p-5 text-center">
            <a href="{{ url_for('form') }}">
                <button type="button" class="btn btn-secondary btn-circle btn-xl" style="font-weight: 900;">Predict Your Stress<br>
                <span class="blink">Click Here!</span>
                </button>
            </a>
        </div>
        </div>   
        </div>
    </div>





    <!-- <div class="container " style="height: 300px;">
        <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6" >
        <div class="p-5 text-center">
            <a href="{{ url_for('form') }}">
                <button type="button" class="btn btn-secondary btn-circle btn-xl" style="font-weight: 900;">Predict Your Stress<br>
                <span class="blink">Click Here!</span>
                </button>
            </a>
        </div>
        </div>   
    </div> -->



<!-- </div> -->
    
{% endblock content %}