{% extends "layout.html" %}
{% block content %}

<!-- <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Student Stress Level Prediction and Analysis</h1>
</div> -->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase" style="font-size: 150px;">Introduction</h1>
                <!-- <h2 class="text-black-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2> -->
            </div>
        </div>
    </div>
</header>
<div class="container ">
    <div class="row justify-content-center">
        <a class="btn-lg btn-primary " href="{{url_for('introdetails')}}" role="button">Next</a>

    </div>
</div>

{% endblock content %}