{% extends "layout.html" %}
{%block predict%}

<!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
<div class="container survey">
  <h1 id="title" class="text-center">Stress Prediction Form</h1>
  <p id="description" class="text-center">Fill the form carefully.</p>
<hr style=" display: block; overflow: hidden; border-style: inset; border-width: 1px;">

<form id="survey-form">

    <div class="radiobuttons">
        <p">Gender</p>
          <ul style="list-style: none;">
           <li class="radio"><input name="radio-buttons" value="1"  type="radio" class="userRatings" ><label> Male</label></li>
            <li class="radio"><input name="radio-buttons" value="0"  type="radio" class="userRatings" ><label> Female</label></li>
          </ul>
    </div>
    <div>
        <p >Financial Issues</p><ul class="checkboxlabel">
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Repay Loan Issues</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Deadline of Fee payment</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Payment for Hostel</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Others</label></li>
            </ul>
    </div>
    <div>
        <p >Family Issues</p><ul class="checkboxlabel">
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Parental Expectations</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Being bullied by siblings</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Divorce of Parents</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Poor Communication and misunderstandings</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Negligence of Children</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Others</label></li>
            </ul>
    </div>

    <div class="form-group">
        <label id="number-label">Study Hours</label>
        <input id="number" type="number" min="0" max="20" class="form-control" id="number" placeholder="Hours" required>
    </div>
    <br/>
    <div>
        <p >Last Three months Health Issues</p><ul class="checkboxlabel">
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Malnutrition</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Sinus or Migraine or Headaches</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Covid</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Insomnia (Sleep Deprivation)</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Low Energy</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Anxiety or Tension</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Lonliness</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Sleeping Problem</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Concentration Problem</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Others</label></li>
            </ul>
    </div>
    <div>
        <p >Friends Issues</p><ul class="checkboxlabel">
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Conflicts</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Comparison between them</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Jealousy</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Mistrust</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Betrayal</label></li>
        <li class="checkbox" style="list-style: none;"><label> <input name="prefer" value="1" type="checkbox" class="userRatings"> Others</label></li>
            </ul>
    </div>

    <div class="form-group">
        <label id="number-label">Average Time spent with Friends</label>
        <input id="number" type="number" min="0" max="24" class="form-control" id="number" placeholder="Hours" required>
    </div>
    <br/>

    <div class="radiobuttons">
        <p>Feeling overload with University work</p>
          <ul style="list-style: none;">
           <li class="radio"><input name="radio-buttons" value="1"  type="radio" class="userRatings" ><label> Yes</label></li>
            <li class="radio"><input name="radio-buttons" value="0"  type="radio" class="userRatings" ><label> No</label></li>
          </ul>
    </div>
    <div class="radiobuttons">
        <p>Unpleasant working environment</p>
          <ul style="list-style: none;">
           <li class="radio"><input name="radio-buttons" value="1"  type="radio" class="userRatings" ><label> Yes</label></li>
            <li class="radio"><input name="radio-buttons" value="0"  type="radio" class="userRatings" ><label> No</label></li>
          </ul>
    </div>
    <div class="radiobuttons">
        <p>Lack of confidence with academic performance</p>
          <ul style="list-style: none;">
           <li class="radio"><input name="radio-buttons" value="1"  type="radio" class="userRatings" ><label> Yes</label></li>
            <li class="radio"><input name="radio-buttons" value="0"  type="radio" class="userRatings" ><label> No</label></li>
          </ul>
    </div>
    <div class="radiobuttons">
        <p>Lack of confidence with subject or career choice</p>
          <ul style="list-style: none;">
           <li class="radio"><input name="radio-buttons" value="1"  type="radio" class="userRatings" ><label> Yes</label></li>
            <li class="radio"><input name="radio-buttons" value="0"  type="radio" class="userRatings" ><label> No</label></li>
          </ul>
    </div>
    <div class="radiobuttons">
        <p>Criticism about work</p>
          <ul style="list-style: none;">
           <li class="radio"><input name="radio-buttons" value="1"  type="radio" class="userRatings" ><label> Yes</label></li>
            <li class="radio"><input name="radio-buttons" value="0"  type="radio" class="userRatings" ><label> No</label></li>
          </ul>
    </div>
    <div class="radiobuttons">
        <p>Conflicts between University work and Extracurricular</p>
          <ul style="list-style: none;">
           <li class="radio"><input name="radio-buttons" value="1"  type="radio" class="userRatings" ><label> Yes</label></li>
            <li class="radio"><input name="radio-buttons" value="0"  type="radio" class="userRatings" ><label> No</label></li>
          </ul>
    </div>

  <div>
    <div class="container ">
        <div class="row justify-content-center">
            <a href="{{ url_for('predict') }}">
                <button type="button" class="btn btn-secondary" style="padding: 10px;" >Predict Your Stress<br>
                </button>
            </a>
    </div>

</form>
<br/>
<br>



{%endblock predict%}