{% extends "layout.html" %}
{% block content %} 
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Student Stress Level Prediction and Analysis</h1>
        
    </div>
    <div class="container " style="height: 700px;">
            <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6" >
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h3>Our Creative <span> Team</span></h3>
                <p>“A good way to overcome stress is to help others out of theirs.”</p>
                <p><i>―Dada J. P. Vaswani</i></p>
                <div class="line"></div>
                </div>
            </div>
            </div>
            <div class="row justify-content-center " style="margin: 15px;">
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Chhabilal Acharya</h6>
                    
                </div>
                </div>
            </div>
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Bibek Ban</h6>
                
                </div>
                </div>
            </div>
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Bharat Thapa</h6>
                </div>
                </div>
            </div>
            </div>
        </div>
    
{% endblock content %}